body {
	background-color: black;
	color: #a3f20f;
	
}

h1 {
	color: #a3f20f;
	text-align: center;
}
p {
	color: #a3f20f;
	
}
h2 {
	color: #a3f20f;
}
.post-entry h2 a{
	color: #a3f20f;
	text-align: left;
	
}
.post-entry p {
	text-align: left;
}
.navbar-brand {
	font-size: 28px;
	
	color: #a3f20f !important;
}
