<!-- templates/post_detail.html -->
{% extends "base.html" %}

{% block content %}
<div class="post-entry">
  <h2>{{ post.title }}</h2>
  <p>by {{ post.author }} | {{ post.post_date }} </p><hr>
  <p>{{ post.body }}</p>


{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
  <div class=editlinks>
  <a href="{% url 'post_edit' post.pk %}">(Edit)</a>
  <a href="{% url 'post_delete' post.pk %}">(Delete)</a>
	{% endif %}
	{% endif %}
  </div>
  </div>

{% if not post.comments.all %}
No Comments <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
{% else %}

<a href="{% url 'add_comment' post.pk %}">Add Comment</a>

{% for comment in post.comments.all %}
  {{ comment.name }} - {{ comment.post_date }}
  {{ comment.body }}
  {% endfor %}
  {% endif %}

{% endblock content %}


